.text-center th {
	text-align: center
}
.gradient-primary {
	background: #1ea0c8;
	background: linear-gradient(#28a5cd, #3cb4dc)
}
.gradient-secondary {
	background: #f7941e;
	background: linear-gradient(#fa9400, #faaa3c)
}
.light-shadow {
	-webkit-box-shadow: inset 0 0 3px 0 #b2b2b2;
	box-shadow: inset 0 0 3px 0 #b2b2b2
}
.capitalize {
	text-transform: capitalize
}
.margin-disabled {
	margin: 0
}
.margin-top {
	margin-top: 30px
}
.margin-bottom {
	margin-bottom: 30px
}
.margin-top-divided-2 {
	margin-top: 15px
}
.margin-bottom-divided-2 {
	margin-bottom: 15px
}
.margin-5 {
	margin: 5px
}
.margin-10 {
	margin: 10px
}
.margin-left-15 {
	margin-left: 15px
}
.negative-margin-15 {
	margin: -15px
}
.negative-margin-top-15 {
	margin-top: -15px
}
.padding-30 {
	padding: 30px
}
.padding-divided-2 {
	padding: 15px
}
.padding-divided-5 {
	padding: 6px
}
.negative-margin-top-bottom {
	margin-top: -15px;
	margin-bottom: -15px
}
.negative-margin-left-right {
	margin-left: -15px;
	margin-right: -15px
}
.padding-top-bottom {
	padding: 15px 0 !important
}
.padding-left-right {
	padding: 0 15px
}
.padding-left-right-base {
	padding: 0 30px
}
.padding-left-right-45 {
	padding: 0 45px
}
.padding-top {
	padding-top: 15px
}
.padding-bottom {
	padding-bottom: 15px
}
.padding-bottom-x2 {
	padding-bottom: 30px
}
.no-padding-top {
	padding-top: 0 !important
}
.no-padding-bottom {
	padding-bottom: 0 !important
}
.no-padding-top-bottom {
	padding: 0 15px !important
}
.no-padding-left-right {
	padding: 15px 0 !important
}
.no-padding {
	padding: 0 !important
}
.no-margin {
	margin: 0 !important
}
.no-margin-top {
	margin-top: 0 !important
}
.no-margin-left-right {
	margin-left: 0 !important;
	margin-right: 0 !important
}
.no-margin-bottom {
	margin-bottom: 0 !important
}
.no-margin-left-right {
	margin-left: 0;
	margin-right: 0
}
@media(max-width:768px) {
	.padding-xs-vr {
		padding: 0 10px
	}
	.no-margin-xs {
		margin: 0
	}
}
.font-bold {
	font-weight: bold
}
.font-sm {
	font-size: 12px
}
.text-primary {
	color: #1ea0ca
}
.text-secondary {
	color: #f7941e
}
.text-unimportant {
	color: #838383
}
.text-muted {
	color: #c3c3c3
}
.border {
	border: #e3e3e3 1px solid
}
.border-top {
	border-top: #e3e3e3 1px solid
}
.border-right {
	border-right: #e3e3e3 1px solid
}
.border-bottom {
	border-bottom: #e3e3e3 1px solid
}
.border-left {
	border-left: #e3e3e3 1px solid
}
.border-left-right {
	border-right: #e3e3e3 1px solid !important;
	border-left: #e3e3e3 1px solid !important
}
.border-seperator DIV {
	border-left: #e3e3e3 1px solid
}
.border-seperator DIV:first-child {
	border-left: 0
}
.col-justified {
	width: 100%;
	list-style: none
}
.col-justified>li,
.col-justified div,
.col-justified span,
.col-justified p {
	float: none;
	text-align: center
}
@media(min-width:768px) {
	.col-justified>li {
		display: table-cell;
		width: 1%
	}
}
@media(max-width:768px) {
	.border-seperator DIV {
		border-left: 0
	}
	.border-xs-left {
		border-left: #e3e3e3 1px solid !important
	}
}
.no-border {
	border: none !important
}
.no-border-top {
	border-top: none !important
}
.no-border-bottom {
	border-bottom: none !important
}
.no-border-left-right {
	border-left: none !important;
	border-right: none !important
}
.no-border-radius {
	border-radius: 0 !important
}
.transition-background-ease-in-out {
	-webkit-transition: background 500ms ease-in-out;
	-moz-transition: background 500ms ease-in-out;
	-ms-transition: background 500ms ease-in-out;
	-o-transition: background 500ms ease-in-out;
	transition: background 500ms ease-in-out
}
.transition-border-ease-in-out {
	-webkit-transition: border 500ms ease-in-out;
	-moz-transition: border 500ms ease-in-out;
	-ms-transition: border 500ms ease-in-out;
	-o-transition: border 500ms ease-in-out;
	transition: border 500ms ease-in-out
}
.transition-box {
	-webkit-transition: background 500ms ease-in-out;
	-moz-transition: background 500ms ease-in-out;
	-ms-transition: background 500ms ease-in-out;
	-o-transition: background 500ms ease-in-out;
	transition: background 500ms ease-in-out;
	-webkit-transition: border 500ms ease-in-out;
	-moz-transition: border 500ms ease-in-out;
	-ms-transition: border 500ms ease-in-out;
	-o-transition: border 500ms ease-in-out;
	transition: border 500ms ease-in-out
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}
.col-xs-5ths {
	width: 20%;
	float: left
}
@media(min-width:768px) {
	.col-sm-5ths {
		width: 20%;
		float: left
	}
}
@media(min-width:992px) {
	.col-md-5ths {
		width: 20%;
		float: left
	}
}
@media(min-width:1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left
	}
}
.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e3e3e3
}
.line-height {
	line-height: 40px
}
.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0
}
.overflow-hidden {
	overflow: hidden
}
.bg-white {
	background-color: #fff
}

.form-control,
textarea {
	border: #e3e3e3 1px solid
}
input,
select,
textarea {
	border-radius: 3px;
	font-size: 1em;
	padding: 12px 10px;
	outline: 0
}
input:focus,
select:focus,
textarea:focus {
	border-color: #e3e3e3 !important;
	box-shadow: inset 0 0 4px #f7941e !important;
	-webkit-box-shadow: inset 0 0 4px #f7941e !important
}
select.form-control {
	width: 240px;
	height: 34px;
	overflow: hidden;
	background: url(../img/select_arrow_down-30c457fca581b1cb48a76a559c34f9b8.png) no-repeat right #fff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}
label {
	font-weight: normal
}
textarea {
	width: 100%
}

.input-group > *:first-child .form-control:last-child:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

table.table-hover thead tr:hover {
	background: 0
}
table.table-hover tr {
	border-collapse: collapse
}
table.table-hover tr:hover {
	background: #a5d9e8
}
table.table-hover tr:hover.tr-collapsed-data {
	background: 0
}
table.table-hover tr th:first-letter {
	text-transform: capitalize
}
table.table-hover tr td {
	position: relative;
	padding: 5px 10px
}
table.table-hover tr .tr-collapse-trigger {
	cursor: pointer
}
table.table-hover tr .tr-collapsed-data {
	display: none
}
tfoot,
.tr-highlighted {
	background: #f8f8f8
}

.popover {
	border-radius: 3px;
	padding: 0 !important;
	border: #e3e3e3 1px solid
}
.popover .popover-title {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #1ea0c8;
	color: #fff
}
.popover.top>.arrow {
	border-top-color: #e3e3e3
}

.bs-wizard {
	padding: 0 0 10px 0
}
.bs-wizard .bs-wizard-step {
	float: left;
	padding: 0;
	position: relative
}
.bs-wizard .bs-wizard-step:first-child:nth-last-child(1) {
	width: 100%
}
.bs-wizard .bs-wizard-step:first-child:nth-last-child(2),
.bs-wizard .bs-wizard-step:first-child:nth-last-child(2) ~ .bs-wizard-step {
	width: 50%
}
.bs-wizard .bs-wizard-step:first-child:nth-last-child(3),
.bs-wizard .bs-wizard-step:first-child:nth-last-child(3) ~ .bs-wizard-step {
	width: 33.3333%
}
.bs-wizard .bs-wizard-step:first-child:nth-last-child(4),
.bs-wizard .bs-wizard-step:first-child:nth-last-child(4) ~ .bs-wizard-step {
	width: 25%
}
.bs-wizard .bs-wizard-step:first-child:nth-last-child(5),
.bs-wizard .bs-wizard-step:first-child:nth-last-child(5) ~ .bs-wizard-step {
	width: 20%
}
.bs-wizard .bs-wizard-step .bs-wizard-stepnum {
	color: #b2b2b2;
	font-size: 15px;
	margin-bottom: 5px
}
.bs-wizard .bs-wizard-step .bs-wizard-info {
	color: #b2b2b2;
	font-size: 14px
}
.bs-wizard .bs-wizard-step>.bs-wizard-dot {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background: #f7941e;
	top: 45px;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%
}
.bs-wizard .bs-wizard-step>.bs-wizard-dot:after {
	content: ' ';
	width: 14px;
	height: 14px;
	background: #fff;
	border-radius: 50px;
	position: absolute;
	top: 8px;
	left: 8px
}
.bs-wizard .bs-wizard-step>.progress {
	position: relative;
	border-radius: 0;
	height: 8px;
	box-shadow: none;
	margin: 20px 0
}
.bs-wizard .bs-wizard-step>.progress>.progress-bar {
	width: 0;
	box-shadow: none;
	background: #f7941e
}
.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
	width: 100%
}
.bs-wizard>.bs-wizard-step.complete>.bs-wizard-dot:after {
	background: #fff
}
.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot {
	background-color: #1ea0c8
}
.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot:after {
	background: #fff
}
.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
	background-color: #1ea0c8;
	width: 50%
}
.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
	width: 0
}
.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
	width: 100%
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
	background-color: #e3e3e3
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
	background: #b2b2b2
}
.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
	pointer-events: none
}
.bs-wizard>.bs-wizard-step:first-child>.progress {
	left: 50%;
	width: 50%
}
.bs-wizard>.bs-wizard-step:last-child>.progress {
	width: 50%
}
@media screen and (max-width: 1200px) {
	.bs-wizard>.bs-wizard-step>.progress {
		margin: 40px 0
	}
}

.registration {
	min-height: 410px;
}
.registration .registration-form .form-group:before,
.registration .registration-form .form-group:after {
	content: " ";
	display: table
}

.registration .registration-form .form-group:after {
	clear: both
}

.registration .registration-form .radio,
.registration .registration-form .checkbox,
.registration .registration-form .radio-inline,
.registration .registration-form .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px
}
.registration .registration-form .radio,
.registration .registration-form .checkbox {
	min-height: 27px
}
.registration .registration-form .form-group {
	margin-left: -15px;
	margin-right: -15px
}
@media(min-width:768px) {
	.registration .registration-form .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 7px
	}
}
.registration .registration-form .has-feedback .form-control-feedback {
	right: 15px
}
@media(min-width:768px) {
	.registration .registration-form .form-group-lg .control-label {
		padding-top: 14.3px
	}
}
@media(min-width:768px) {
	.registration .registration-form .form-group-sm .control-label {
		padding-top: 6px
	}
}
.registration .registration-form .form-group .control-label {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
@media(min-width:768px) {
	.registration .registration-form .form-group .control-label {
		float: left;
		width: 41.66666667%
	}
}
.registration .registration-form .form-group .input-group {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
@media(min-width:992px) {
	.registration .registration-form .form-group .input-group {
		float: left;
		width: 58.33333333%
	}
}


FIELDSET {
	border: #e3e3e3 1px solid;
	padding: 15px 30px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 30px
}
FIELDSET LEGEND {
	border: 0;
	width: inherit;
	margin: auto
}
FIELDSET SPAN.legend-info {
	display: block;
	margin: -10px 0 30px 0;
	text-align: center
}
FIELDSET .input-group .input-group-addon.help {
	color: #fff;
	cursor: pointer;
	background: #1ea0c8;
	border: 0
}
FIELDSET .input-group .input-group-addon.help:hover {
	background: #f7941e
}
FIELDSET .input-group .input-group-addon.help:after {
	content: "?"
}
FIELDSET .input-group SELECT {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-appearance: none
}
FIELDSET .input-group .form-control.date-select {
	border-right: #e3e3e3 1px solid;
	border-left: 0
}
FIELDSET .input-group .form-control.date-select:first-child {
	border-left: #e3e3e3 1px solid
}
FIELDSET .input-group .form-control.date-select.day {
	width: 30% !important
}
FIELDSET .input-group .form-control.date-select.month {
	width: 40% !important
}
FIELDSET .input-group .form-control.date-select.year {
	width: 30% !important
}
FIELDSET .input-group .customer_current_employment_since_month .form-control.date-select.month,
FIELDSET .input-group .customer_current_employment_since_year .form-control.date-select.year {
	width: 50% !important;
}
FIELDSET .input-group .form-control.date-select-no-day {
	border-right: #e3e3e3 1px solid;
	border-left: 0
}
FIELDSET .input-group .form-control.date-select-no-day.month {
	border-left: #e3e3e3 1px solid;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}
FIELDSET .input-group .form-control.date-select-no-day.month,
FIELDSET .input-group .form-control.date-select-no-day.year {
	width: 50% !important
}
FIELDSET .action-wrapper {
	width: 100%;
	margin-bottom: -32px;
	text-align: center
}
FIELDSET .action-wrapper .action {
	display: inline-block;
	padding: 0 15px;
	background: #fff
}
FIELDSET .action-wrapper .action .btn-link {
	background: #fff;
	padding: 0 !important
}
FIELDSET .action-wrapper .action .btn {
	margin: 0 6px
}
FIELDSET .action-wrapper .action .btn-group .btn {
	margin: 0 !important
}
FIELDSET .action-wrapper .action SPAN {
	padding-right: 10px;
	line-height: 48px;
	color: #e3e3e3
}
FIELDSET .action-wrapper .action SPAN A {
	color: #e3e3e3;
	text-decoration: none
}
FIELDSET .action-wrapper .action SPAN A:hover {
	color: #1ea0c8;
	text-decoration: underline
}


span.wpcf7-not-valid-tip {
	display: block;
	text-align: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
	padding: 0;
	line-height: 30px;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	border: 1px solid transparent;
	border-radius: 3px;
}

.account_birth_date_day span.wpcf7-not-valid-tip,
.account_birth_date_month span.wpcf7-not-valid-tip {
	display:none;
}